# Ignore Python virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore test-related caches
.mypy_cache/
.pytest_cache/

# Ignore editor configs
.idea/
.vscode/

# Ignore environment and secrets
.env*
firebase/firebase-adminsdk.json

# Ignore Git metadata
.git
.gitignore

# Ignore Elastic Beanstalk local config
.elasticbeanstalk/