0 13 * * * /usr/local/bin/python /app/cronjobs/run_cron_task.py >> /var/log/cron.log 2>&1
0 16 * * * /usr/local/bin/python /app/cronjobs/run_cron_task.py >> /var/log/cron.log 2>&1
0 19 * * * /usr/local/bin/python /app/cronjobs/run_cron_task.py >> /var/log/cron.log 2>&1
