# ========================
# Global ignores
# ========================
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# ========================
# Python (Backend)
# ========================
**/.venv/
**/__pycache__/
**/*.py[cod]
**/.mypy_cache/
**/.pytest_cache/
StockProjectBackend/.venv/
StockProjectBackend/.idea/
StockProjectBackend/firebase/firebase-adminsdk.json

# ========================
# Node.js / Expo (Frontend)
# ========================
**/node_modules/
**/.expo/
**/.expo-shared/
**/.vscode/
**/dist/
**/build/
**/coverage/
*.log

# ========================
# Git
# ========================
.git/
.gitignore
*.orig
*.swp

# ========================
# Editor/IDE
# ========================
.idea/
.vscode/

# ========================
# Environment / Secrets
# ========================
.env*
